* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12%;

} 
    

.container {
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/bg.png);
    background-size: cover;
    background-position: center;
    }

    .row {
        display: flex;
        align-items: center;
        column-gap: 10px;
        height: 88%;
    }

    .col {
        flex-basis: 50%;
    }
    .cards {
        max-width: 500px;
        margin: auto;
        }

    nav ul li a {
        color: #fff;
      text-decoration: none;
      transition: ease 0.5s;
        
    }

    nav ul {
        list-style-type: none;
    }
    nav ul li {
        display: inline-block;
        margin-left: 40px;
        font-size: 18px;
        font-weight: 500;
        }

        nav ul li a:hover {
            color: #ff523b;
            cursor: pointer;
        }

        h1 {
            color: #fff;
            font-size: 100px;
            margin-bottom: 20px;
            margin-top: 20px;
            }

        .desc {
            color: #fff;
            font-size: 20px;
            margin-bottom: 25px;
        }
        .btn {
            display: inline-block;
            background-color: #fff;
            color: #000;
            padding: 14px 22px;
            border-radius: 20px;
            font-size: 10px;
            border-color: #ff523b;
            transition: ease 0.5s;
            font-weight: bold;
            border: 2px solid #ff523b;


        }
        .btn:hover {
            background-color: #000;
            color: #fff;
            cursor: pointer;
            border-color: #fff;
            
        }

       .card-head {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 6px;
        padding: 6px;
       }
       .card {
        background-color: #fff;
        border-radius: 10px;
        padding: 15px 25px;
        display: inline-block;
        background-position: center;
        background-size: cover;
        position: relative;
        height: 250px;
        width: 200px;
        margin: 10px 15px;
        transition: ease 0.5s;

       } 

       .card:hover{
        transform: translateY(-10px);
       } 
         .card-bottom {
          position: absolute;
          bottom: 15px;
          transition: ease 0.5s;
        
         }
        
         .card-bottom a {
            text-decoration: none;
            font-weight: bold;
         }

         .card-1 {
            background-image: url(images/pic-1.png);
            background-size: cover;
            background-position: center;
         }
            .card-2 {
                background-image: url(images/pic-2.png);
                background-size: cover;
                background-position: center;
            }
            .card-3 {
                background-image: url(images/pic-3.png);
                background-size: cover;
                background-position: center;
            }
            .card-4 {
                background-image: url(images/pic-4.png);
                background-size: cover;
                background-position: center;
            }
            